{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="primary-nav" class="site-nav" aria-label="Primary navigation">
        <a class="site-nav__title" href="{{ base_path }}/">
          <span class="site-nav__title--desktop">{{ site.title }}</span>
          <span class="site-nav__title--mobile">{{ site.name | default: site.title }}</span>
        </a>

        <ul class="site-nav__desktop-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>

        <details class="site-nav__mobile-menu">
          <summary aria-label="Toggle navigation menu">
            <span class="navicon" aria-hidden="true"></span>
          </summary>
          <ul class="site-nav__mobile-links">
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </nav>
    </div>
  </div>
</div>
